OPENAI_API_KEY="EXAMPLE"
ANTHROPIC_API_KEY="EXAMPLE"
CHROMA_API_KEY="EXAMPLE"
TINKER_API_KEY="EXAMPLE"
HUGGINGFACE_TOKEN="EXAMPLE"
CHROMA_DATABASE="EXAMPLE"
BROWSECOMPPLUS_QRELS_GOLD_PATH="EXAMPLE"
BROWSECOMPPLUS_QRELS_EVIDENCE_PATH="EXAMPLE"
BROWSECOMPPLUS_QUERIES_PATH="EXAMPLE"
BROWSECOMPPLUS_ANSWERS_PATH="EXAMPLE"
MOONSHOT_API_KEY="EXAMPLE"
BASETEN_API_KEY="EXAMPLE"
BASETEN_MODEL_URL="EXAMPLE"
JINA_API_KEY="EXAMPLE"
CONTEXTUAL_API_KEY="EXAMPLE"
